<%= tag :input,
    type: "checkbox",
    name: input_name(@f, @field) <> "[]",
    id: input_id(@f, @field, @value),
    value: @value,
    checked: Enum.member?(@f.data |> Map.get(@field), @value),
    class: assigns[:class],
    'aria-describedby': assigns[:'aria-describedby']
%>
