<%= if @changeset.action && length(@changeset.errors) > 0 do %>
    <div class="mt-3 text-red-800 bold"><%= @changeset.errors |> Enum.map(fn {field, {error, _opts}} -> "#{field} #{error}" end) |> Enum.join(", ") %></div>
<% end %>
