# explanations on: https://github.com/azimuttapp/azimutt/blob/main/INSTALL.md#environment-variables

# Technical requirements

PHX_SERVER=true
# PHX_PROTOCOL=ipv4
PHX_HOST=localhost
PORT=4000
SECRET_KEY_BASE=CHANGE_ME
# LICENCE_KEY=lce_...

DATABASE_URL=postgresql://postgres:postgres@localhost/azimutt_dev
# DATABASE_IPV6=true
# DATABASE_POOL_SIZE=10
# DATABASE_ENABLE_SSL=true

## File Storage (S3)

### Local
FILE_STORAGE_ADAPTER=local

### S3
# FILE_STORAGE_ADAPTER=s3
# S3_BUCKET=
# S3_HOST=
# S3_KEY_ID=
# S3_KEY_SECRET=
# S3_REGION=
# S3_FOLDER=

## Email adapter

### Mailgun
# EMAIL_ADAPTER=mailgun
# MAILGUN_DOMAIN=
# MAILGUN_API_KEY=
# MAILGUN_BASE_URL=

### Gmail, generate token: https://developers.google.com/oauthplayground
# EMAIL_ADAPTER=gmail
# GMAIL_ACCESS_TOKEN=

### smtp
# EMAIL_ADAPTER=smtp
# SMTP_RELAY=
# SMTP_USERNAME=
# SMTP_PASSWORD=
# SMTP_PORT=

# SUPPORT_EMAIL=
# SENDER_EMAIL=

# Key features

## Authentification config

### Password
AUTH_PASSWORD=true

### Github
# AUTH_GITHUB=true
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=

### Not implementied yet
# AUTH_LINKEDIN=
# AUTH_GOOGLE=
# AUTH_TWITTER=
# AUTH_FACEBOOK=
# AUTH_SAML=

# Optional features & services

# GATEWAY_URL=https://gateway.azimutt.app
# SKIP_ONBOARDING_FUNNEL=true
# SKIP_EMAIL_CONFIRMATION=true
# REQUIRE_EMAIL_CONFIRMATION=true
# REQUIRE_EMAIL_ENDS_WITH=@azimutt.app
# ORGANIZATION_DEFAULT_PLAN=free
# GLOBAL_ORGANIZATION=00000000-0000-0000-0000-000000000000
# GLOBAL_ORGANIZATION_ALONE=true

## reCAPTCHA
# RECAPTCHA=true
# RECAPTCHA_SITE_KEY=
# RECAPTCHA_SECRET_KEY=
# RECAPTCHA_MIN_SCORE=0.7

## Sentry
# SENTRY=true
# SENTRY_BACKEND_DSN=
# SENTRY_FRONTEND_DSN=

## Twitter
# TWITTER=true
# TWITTER_CONSUMER_KEY=
# TWITTER_CONSUMER_SECRET=
# TWITTER_ACCESS_TOKEN=
# TWITTER_ACCESS_SECRET=

# Other features you will probably not need

# PUBLIC_SITE=true

## GitHub, personal token (https://github.com/settings/tokens)
# GITHUB=true
# GITHUB_ACCESS_TOKEN=

## Posthog
# POSTHOG=true
# POSTHOG_HOST=
# POSTHOG_KEY=

## Bento
# BENTO=true
# BENTO_SITE_KEY=
# BENTO_PUBLISHABLE_KEY=
# BENTO_SECRET_KEY=

## Stripe
# STRIPE=true
# STRIPE_API_KEY=sk_test_abcdef
# STRIPE_WEBHOOK_SIGNING_SECRET=whsec_1234
# STRIPE_PRICE_PRO_MONTHLY=

## Clever Cloud Addon
# CLEVER_CLOUD=true
# CLEVER_CLOUD_ADDON_ID=
# CLEVER_CLOUD_PASSWORD=
# CLEVER_CLOUD_SSO_SALT=

## Heroku Addon
# HEROKU=true
# HEROKU_ADDON_ID=
# HEROKU_PASSWORD=
# HEROKU_SSO_SALT=

## HubSpot
# HUBSPOT=true
# HUBSPOT_ID=
