*.iml
.idea
.DS_Store
.env
.clever.json
node_modules
addon-manifest.json
addon-manifest-prod.json
addon-manifest-staging.json
addon-clevercloud.json
.vscode/
charts/azimutt/charts/
charts/azimutt/Chart.lock
