repos:
- repo: local
  hooks:
    - id: libs-utils
      name: 'Libs/Utils'
      language: system
      entry: bash -c 'cd libs/utils && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/utils/.*\.ts*$

    - id: libs-database-types
      name: 'Libs/Database types'
      language: system
      entry: bash -c 'cd libs/database-types && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/database-types/.*\.ts*$

    - id: libs-shared
      name: 'Libs/Shared'
      language: system
      entry: bash -c 'cd libs/shared && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/shared/.*\.ts*$

    - id: libs-json-infer-schema
      name: 'Libs/Json infer schema'
      language: system
      entry: bash -c 'cd libs/json-infer-schema && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/json-infer-schema/.*\.ts*$

    - id: libs-connector-couchbase
      name: 'Libs/Couchbase connector'
      language: system
      entry: bash -c 'cd libs/connector-couchbase && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-couchbase/.*\.ts*$

    - id: libs-connector-mongodb
      name: 'Libs/MongoDB connector'
      language: system
      entry: bash -c 'cd libs/connector-mongodb && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-mongodb/.*\.ts*$

    - id: libs-connector-postgres
      name: 'Libs/PostgreSQL connector'
      language: system
      entry: bash -c 'cd libs/connector-postgres && exec npm run build && exec npm test'
      pass_filenames: false
      files: libs/connector-postgres/.*\.ts*$

    - id: mix-format
      name: 'Elixir format'
      language: system
      entry: bash -c 'cd backend && exec mix format --check-formatted'
      files: \.exs*$

    - id: mix-lint
      name: 'Elixir lint'
      language: system
      entry: npm run ex:lint
      pass_filenames: false
      files: \.exs*$

    - id: mix-test
      name: 'Elixir test'
      language: system
      entry: npm run ex:test
      pass_filenames: false
      files: \.exs*$

    - id: mix-build
      name: 'Elixir build'
      language: system
      entry: npm run ex:build
      pass_filenames: false
      files: \.ex$

    - id: elm-test
      name: 'Elm test'
      language: system
      entry: npm run elm:test
      pass_filenames: false
      files: \.elm*$

    - id: elm-lint
      name: 'Elm lint'
      language: system
      entry: npm run elm:lint
      pass_filenames: false
      files: \.elm*$

    - id: elm-build
      name: 'Elm build'
      language: system
      entry: npm run elm:build
      pass_filenames: false
      files: \.elm*$

    - id: elm-format
      name: 'Elm format'
      language: system
      entry: npm run elm:format
      pass_filenames: false
      files: \.elm*$

    - id: frontend-build
      name: 'Frontend TS build'
      language: system
      entry: npm run ts:lint
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: frontend-test
      name: 'Frontend TS test'
      language: system
      entry: npm run ts:test
      pass_filenames: false
      files: frontend/.*\.ts*$

    - id: cli
      name: 'CLI'
      language: system
      entry: bash -c 'cd cli && exec npm run build && exec npm test'
      pass_filenames: false
      files: cli/.*\.ts*$

    # No test or build for browser-extension
    # No test or build for desktop

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.32.2
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [push]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    - id: trailing-whitespace
      exclude_types: [markdown]
    - id: check-merge-conflict
    - id: check-yaml
    - id: end-of-file-fixer
