<main class="max-w-7xl lg:mx-24 pb-10 lg:py-12 lg:px-8">
<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <%= render "_aside_menu.html", assigns %>
  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <%= render "_profil_section.html", assigns %>
  </div>
</div>
</main>
