<%= if @projects == [] do %>
    <%= render "_project_list_empty.html", conn: @conn, organization: @organization %>
<% else %>
    <%= render "_project_list.html", conn: @conn, projects: @projects %>
<% end %>
