<h2 id={Azimutt.Utils.Slugme.slugify(@title)} class="mt-12 mb-0 text-2xl font-bold tracking-tight text-gray-900 group">
    <%= @title %>
    <a href={"##{Azimutt.Utils.Slugme.slugify(@title)}"} class="ml-1 text-indigo-600 hover:underline opacity-0 group-hover:opacity-100 transition-opacity">#</a>
</h2>
