<h2 id={Azimutt.Utils.Slugme.slugify(@title)} class="group">
    <%= @title %>
    <a href={"##{Azimutt.Utils.Slugme.slugify(@title)}"} class="ml-1 text-indigo-600 no-underline hover:underline opacity-0 group-hover:opacity-100 transition-opacity">#</a>
</h2>
