<div class="not-prose flex p-4 bg-blue-50 border-blue-400 border-l-4">
    <Icon.information_circle kind="mini" class="text-blue-400 flex-shrink-0" />
    <p class="ml-3 text-blue-700 text-sm"><%= @inner_content %></p>
</div>
