<div class="not-prose flex p-4 bg-yellow-50 border-yellow-400 border-l-4">
    <Icon.exclamation_triangle kind="mini" class="text-yellow-400 flex-shrink-0" />
    <p class="ml-3 text-yellow-700 text-sm"><%= @inner_content %></p>
</div>
