<div class="mt-3 border-l-4 border-yellow-400 bg-yellow-50 p-4 flex not-prose">
    <Icon.exclamation_triangle kind="mini" class="text-yellow-400" />
    <p class="ml-3 text-sm text-yellow-700"><%= @inner_content %></p>
</div>
