<%= render "docs/_header.html", conn: @conn, page: @page %>

<div class="bg-white px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700 prose">
        <p class="mt-6 text-xl leading-8">
            Work In Progress 😅
        </p>

        <%= render "docs/_h2.html", title: "Full project" %>
        <%= render "docs/_h2.html", title: "Schema" %>
    </div>
</div>

<%= render "docs/_footer.html", conn: @conn, page: @page, prev: @prev, next: @next %>
