<%= render "docs/_header.html", conn: @conn, page: @page %>

<%= doc_prose do %>
    <p class="lead">Work In Progress 😅</p>
    <p>See the <a href={Azimutt.config(:vscode_extension_url)} target="_blank" rel="noopener">VS Code extension</a>.</p>
<% end %>

<%= render "docs/_footer.html", conn: @conn, page: @page, prev: @prev, next: @next %>
