<div class="relative h-64 mb-24" style={"background: #{@connector.color}"}>
    <img src={Routes.static_path(@conn, "/images/connectors/#{@connector.id}-banner.png")} alt={"#{@connector.name} banner"} class="h-80 absolute top-10 left-0 right-0 mx-auto">
</div>
