<blockquote>
    Azimutt is making the first database explorer targeted for real world databases: large, heterogeneous and messy 😅
    If you ever looked for an Entity-Relationship diagram tool (ERD) or drew your database schema on a sheet or whiteboard, Azimutt is made for you.
    But it goes well beyond that with database documentation, cross-database data exploration and even linter and monitoring of your database.
</blockquote>
