:root {
    --navbar-height: 54px;
    --modal-backdrop-z-index: 1040;
    --offcanvas-z-index: 1050;
    --modal-z-index: 1060;
    --loading-z-index: 10000; /* should be on top of everything */
    --bg-light: #F1F6F8;
    /* shade 500 from https://tailwindcss.com/docs/customizing-colors#color-palette-reference */
    --tw-blueGray: #64748B;
    --tw-coolGray: #6B7280;
    --tw-gray: #71717A;
    --tw-trueGray: #737373;
    --tw-warmGray: #78716C;
    --tw-red: #EF4444;
    --tw-orange: #F97316;
    --tw-amber: #F59E0B;
    --tw-yellow: #EAB308;
    --tw-lime: #84CC16;
    --tw-green: #22C55E;
    --tw-emerald: #10B981;
    --tw-teal: #14B8A6;
    --tw-cyan: #06B6D4;
    --tw-sky: #0EA5E9;
    --tw-blue: #3B82F6;
    --tw-indigo: #6366F1;
    --tw-violet: #8B5CF6;
    --tw-purple: #A855F7;
    --tw-fuchsia: #D946EF;
    --tw-pink: #EC4899;
    --tw-rose: #F43F5E;

    --tw-gray-100: #F3F4F6;
}

/* home page */

.img-swipe { display: inline-block; }
.img-swipe .img-default { display: initial; }
.img-swipe .img-hover { display: none; }
.img-swipe:hover .img-default { display: none; }
.img-swipe:hover .img-hover { display: initial; }

/* app */

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-light);
    z-index: var(--loading-z-index);
}

#navbar {
    z-index: calc(var(--offcanvas-z-index) + 1);
}

.modal-open #navbar {
    z-index: calc(var(--modal-backdrop-z-index) - 1);
}

#menu {
    top: var(--navbar-height);
}

#erd {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    background-color: var(--bg-light);
}

#erd .canvas {
    /* needed to have a correct zoom to cursor computing */
    transform-origin: top left;
}

.erd-table {
    position: absolute;
    min-width: 200px;
    background-color: #FFFFFF;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.erd-table .header { border-top-color: var(--tw-blueGray); }
.erd-table.gray .header { border-top-color: var(--tw-blueGray); }
.erd-table.red .header { border-top-color: var(--tw-red); }
.erd-table.orange .header { border-top-color: var(--tw-orange); }
.erd-table.amber .header { border-top-color: var(--tw-amber); }
.erd-table.yellow .header { border-top-color: var(--tw-yellow); }
.erd-table.lime .header { border-top-color: var(--tw-lime); }
.erd-table.green .header { border-top-color: var(--tw-green); }
.erd-table.emerald .header { border-top-color: var(--tw-emerald); }
.erd-table.teal .header { border-top-color: var(--tw-teal); }
.erd-table.cyan .header { border-top-color: var(--tw-cyan); }
.erd-table.sky .header { border-top-color: var(--tw-sky); }
.erd-table.blue .header { border-top-color: var(--tw-blue); }
.erd-table.indigo .header { border-top-color: var(--tw-indigo); }
.erd-table.violet .header { border-top-color: var(--tw-violet); }
.erd-table.purple .header { border-top-color: var(--tw-purple); }
.erd-table.fuchsia .header { border-top-color: var(--tw-fuchsia); }
.erd-table.pink .header { border-top-color: var(--tw-pink); }
.erd-table.rose .header { border-top-color: var(--tw-rose); }

.erd-table.selected { box-shadow: var(--tw-blueGray) 0 0 0 3px; }
.erd-table.selected.gray { box-shadow: var(--tw-blueGray) 0 0 0 3px; }
.erd-table.selected.red { box-shadow: var(--tw-red) 0 0 0 3px; }
.erd-table.selected.orange { box-shadow: var(--tw-orange) 0 0 0 3px; }
.erd-table.selected.amber { box-shadow: var(--tw-amber) 0 0 0 3px; }
.erd-table.selected.yellow { box-shadow: var(--tw-yellow) 0 0 0 3px; }
.erd-table.selected.lime { box-shadow: var(--tw-lime) 0 0 0 3px; }
.erd-table.selected.green { box-shadow: var(--tw-green) 0 0 0 3px; }
.erd-table.selected.emerald { box-shadow: var(--tw-emerald) 0 0 0 3px; }
.erd-table.selected.teal { box-shadow: var(--tw-teal) 0 0 0 3px; }
.erd-table.selected.cyan { box-shadow: var(--tw-cyan) 0 0 0 3px; }
.erd-table.selected.sky { box-shadow: var(--tw-sky) 0 0 0 3px; }
.erd-table.selected.blue { box-shadow: var(--tw-blue) 0 0 0 3px; }
.erd-table.selected.indigo { box-shadow: var(--tw-indigo) 0 0 0 3px; }
.erd-table.selected.violet { box-shadow: var(--tw-violet) 0 0 0 3px; }
.erd-table.selected.purple { box-shadow: var(--tw-purple) 0 0 0 3px; }
.erd-table.selected.fuchsia { box-shadow: var(--tw-fuchsia) 0 0 0 3px; }
.erd-table.selected.rose { box-shadow: var(--tw-rose) 0 0 0 3px; }

.erd-table .column:hover .icon, .erd-table .column:hover .name, .erd-table .column:hover .type, .erd-table .column.hover .icon, .erd-table .column.hover .name, .erd-table .column.hover .type { color: var(--tw-blueGray); }
.erd-table.gray .column:hover .icon, .erd-table.gray .column:hover .name, .erd-table.gray .column:hover .type, .erd-table.gray .column.hover .icon, .erd-table.gray .column.hover .name, .erd-table.gray .column.hover .type { color: var(--tw-blueGray); }
.erd-table.red .column:hover .icon, .erd-table.red .column:hover .name, .erd-table.red .column:hover .type, .erd-table.red .column.hover .icon, .erd-table.red .column.hover .name, .erd-table.red .column.hover .type { color: var(--tw-red); }
.erd-table.orange .column:hover .icon, .erd-table.orange .column:hover .name, .erd-table.orange .column:hover .type, .erd-table.orange .column.hover .icon, .erd-table.orange .column.hover .name, .erd-table.orange .column.hover .type { color: var(--tw-orange); }
.erd-table.amber .column:hover .icon, .erd-table.amber .column:hover .name, .erd-table.amber .column:hover .type, .erd-table.amber .column.hover .icon, .erd-table.amber .column.hover .name, .erd-table.amber .column.hover .type { color: var(--tw-amber); }
.erd-table.yellow .column:hover .icon, .erd-table.yellow .column:hover .name, .erd-table.yellow .column:hover .type, .erd-table.yellow .column.hover .icon, .erd-table.yellow .column.hover .name, .erd-table.yellow .column.hover .type { color: var(--tw-yellow); }
.erd-table.lime .column:hover .icon, .erd-table.lime .column:hover .name, .erd-table.lime .column:hover .type, .erd-table.lime .column.hover .icon, .erd-table.lime .column.hover .name, .erd-table.lime .column.hover .type { color: var(--tw-lime); }
.erd-table.green .column:hover .icon, .erd-table.green .column:hover .name, .erd-table.green .column:hover .type, .erd-table.green .column.hover .icon, .erd-table.green .column.hover .name, .erd-table.green .column.hover .type { color: var(--tw-green); }
.erd-table.emerald .column:hover .icon, .erd-table.emerald .column:hover .name, .erd-table.emerald .column:hover .type, .erd-table.emerald .column.hover .icon, .erd-table.emerald .column.hover .name, .erd-table.emerald .column.hover .type { color: var(--tw-emerald); }
.erd-table.teal .column:hover .icon, .erd-table.teal .column:hover .name, .erd-table.teal .column:hover .type, .erd-table.teal .column.hover .icon, .erd-table.teal .column.hover .name, .erd-table.teal .column.hover .type { color: var(--tw-teal); }
.erd-table.cyan .column:hover .icon, .erd-table.cyan .column:hover .name, .erd-table.cyan .column:hover .type, .erd-table.cyan .column.hover .icon, .erd-table.cyan .column.hover .name, .erd-table.cyan .column.hover .type { color: var(--tw-cyan); }
.erd-table.sky .column:hover .icon, .erd-table.sky .column:hover .name, .erd-table.sky .column:hover .type, .erd-table.sky .column.hover .icon, .erd-table.sky .column.hover .name, .erd-table.sky .column.hover .type { color: var(--tw-sky); }
.erd-table.blue .column:hover .icon, .erd-table.blue .column:hover .name, .erd-table.blue .column:hover .type, .erd-table.blue .column.hover .icon, .erd-table.blue .column.hover .name, .erd-table.blue .column.hover .type { color: var(--tw-blue); }
.erd-table.indigo .column:hover .icon, .erd-table.indigo .column:hover .name, .erd-table.indigo .column:hover .type, .erd-table.indigo .column.hover .icon, .erd-table.indigo .column.hover .name, .erd-table.indigo .column.hover .type { color: var(--tw-indigo); }
.erd-table.violet .column:hover .icon, .erd-table.violet .column:hover .name, .erd-table.violet .column:hover .type, .erd-table.violet .column.hover .icon, .erd-table.violet .column.hover .name, .erd-table.violet .column.hover .type { color: var(--tw-violet); }
.erd-table.purple .column:hover .icon, .erd-table.purple .column:hover .name, .erd-table.purple .column:hover .type, .erd-table.purple .column.hover .icon, .erd-table.purple .column.hover .name, .erd-table.purple .column.hover .type { color: var(--tw-purple); }
.erd-table.fuchsia .column:hover .icon, .erd-table.fuchsia .column:hover .name, .erd-table.fuchsia .column:hover .type, .erd-table.fuchsia .column.hover .icon, .erd-table.fuchsia .column.hover .name, .erd-table.fuchsia .column.hover .type { color: var(--tw-fuchsia); }
.erd-table.pink .column:hover .icon, .erd-table.pink .column:hover .name, .erd-table.pink .column:hover .type, .erd-table.pink .column.hover .icon, .erd-table.pink .column.hover .name, .erd-table.pink .column.hover .type { color: var(--tw-pink); }
.erd-table.rose .column:hover .icon, .erd-table.rose .column:hover .name, .erd-table.rose .column:hover .type, .erd-table.rose .column.hover .icon, .erd-table.rose .column.hover .name, .erd-table.rose .column.hover .type { color: var(--tw-rose); }

.erd-table:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.erd-table .header {
    background-color: #F8FAFC;
    border-top: 8px solid #B8C2CC;
    border-bottom: 1px solid #E2E8F0;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem 1.5rem;
    text-align: center;
    color: #4A5568;
    font-size: 1.25rem;
    font-weight: 500;
    height: 48px;
}

.erd-table:hover .header {
    background-color: #EBF4FF;
}

.erd-table .column,
.erd-table .hidden-column {
    display: -webkit-box;
    display: flex;
    padding: 0.35rem .5rem;
    line-height: 1.25;
    height: 31px;
}

.erd-table .column:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.erd-table .column:hover,
.erd-table .column.hover{
    background-color: #F5F7FA;
}

.erd-table .column:hover .icon,
.erd-table .column:hover .name,
.erd-table .column:hover .type,
.erd-table .column.hover .icon,
.erd-table .column.hover .name,
.erd-table .column.hover .type {
    opacity: 1;
}

.erd-table .column .icon,
.erd-table .hidden-column .icon {
    color: #8795A1;
    width: 15px;
    height: 100%;
    margin-right: .25rem;
    flex-shrink: 0;
}

.erd-table .column .name,
.erd-table .hidden-column .name {
    color: #606F7B;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.erd-table .column .name.bold,
.erd-table .hidden-column .name.bold {
    font-weight: 700;
}

.erd-table .column .type,
.erd-table .hidden-column .type {
    opacity: .25;
    margin-left: .25rem;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.erd-table .hidden-columns {
    background-color: #EDF2F7;
    padding: .25rem .5rem .5rem .5rem;
    margin: .5rem;
    border-radius: .5rem;
}

.erd-table .hidden-columns .toggle {
    color: #A0AEC0;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.erd-table .hidden-column {
    background-color: #FFFFFF;
    border-radius: .25rem;
    margin-top: .25rem;
}

.commands {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: var(--bg-light);
    border-radius: .2rem;
}

.drop-zone {
    border: 2px dashed var(--tw-blue);
    border-radius: 1em;
    background: var(--tw-gray-100);
    min-height: 150px;
    padding: 54px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.drop-zone .title {
    display: block;
    font-weight: 400;
    margin: 0;
    line-height: 38px;
    color: var(--tw-gray);
}

.drop-zone .warning {
    display: block;
}

/* Styles for Bootstrap */

.btn-text {
    line-height: 38px;
}

button.link {
    border: none;
    padding: 0;
    background: transparent;
}

button.link.a {
    color: #0d6efd;
    text-decoration: underline;
}

button.link.a:hover {
    color: #0a58ca;
}

#toast-container {
    z-index: calc(var(--modal-z-index) + 1);
    overflow: auto;
    max-width: calc(100% - 20px);
    max-height: calc(100vh - 32px);
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu.submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

/* fix tailwind */

#navbar .navbar-brand img {
    height: 24px;
}

a.link {
    color: #0d6efd;
    text-decoration: underline;
}
