@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tw-link {
        @apply underline cursor-pointer;
    }

    .tw-text-muted {
        @apply text-sm text-gray-500;
    }
}

.cursor-grab-all, .cursor-grab-all * { cursor: grab; }
.cursor-grabbing-all, .cursor-grabbing-all * { cursor: grabbing; }
.cursor-crosshair-all, .cursor-crosshair-all * { cursor: crosshair; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* home page */

.img-swipe { display: inline-block; }
.img-swipe .img-default { display: initial; }
.img-swipe .img-hover { display: none; }
.img-swipe:hover .img-default { display: none; }
.img-swipe:hover .img-hover { display: initial; }

/* blog */

.blog-article img {
    width: 100%;
    border-radius: .5rem;
}

.blog-article img + em, .blog-article img + br + em {
    display: block;
    margin-top: -32px;
    font-size: .8888889em;
    text-align: center;
}

.blog-article img + br + em {
    margin-top: -64px;
}
