<div class="my-3 flex">
    <div class="w-1/3">
        <div class="flex">
            <div class="pl-4 mt-2">
                <div class="text-xl font-bold text-slate-100 truncate"><%= @project.name %></div>
                <div class="text-xs font-medium text-scheme-yellow truncate"><%= @project.created_by.name %></div>
            </div>
        </div>
    </div>
</div>
