<%= render "_index2.html", conn: @conn, current_user: @current_user %>
<%= # render "_index.html", conn: @conn, current_user: @current_user %>
<%= render "_footer.html", conn: @conn %>
<%= render "_heroku_addon.html" %>
