<%= comparison_prose do %>
<h1>Monitoring your database with Azimutt?</h1>

<ul>
    <%= for tool <- @category.tools |> Enum.filter(fn t -> t.show end) do %>
    <li><a href={Routes.website_path(@conn, :comparison, @category.id, tool.id)}><%= tool.name %></a></li>
    <% end %>
</ul>
<% end %>

<%= render "_footer.html", conn: @conn %>
