<%= if get_flash(@conn, :info) do %><p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
<%= if get_flash(@conn, :warn) do %><p class="alert alert-warning" role="alert"><%= get_flash(@conn, :warn) %></p><% end %>
<%= if get_flash(@conn, :error) do %><p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><% end %>
