<!-- Hey! Nice to meet you ❤️-->
<!-- Did you know Azimutt is an Open Source project written in Elm & Elixir? -->
<!-- You can find it here: <%= Azimutt.config(:azimutt_github) %> -->
<!-- While you are here, please take the time to give us a ⭐️, it's a nice support for us. -->
<!-- You can also find us on <%= Azimutt.config(:azimutt_twitter) %> or <%= Azimutt.config(:azimutt_linkedin) %> -->
<!-- Come and say hi 👋, it keeps our motivation on top! -->
