<div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0 min-h-full">
    <div class="pl-6 lg:w-80">
        <div class="pt-6 pb-2">
            <h2 class="text-sm font-semibold"></h2>
        </div>
    </div>
</div>
