<div class="min-h-full pr-4 bg-gray-50 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0 divide-y">
    <%= render AzimuttWeb.PartialsView, "_blackfriday_card.html", conn: @conn, organization: @organization, plan: @plan.id %>
    <%= render AzimuttWeb.PartialsView, "_streak.html", value: @plan.streak %>
    <%= render AzimuttWeb.PartialsView, "_start_checklist.html", conn: @conn, organization: @organization, completed: @current_user.data.start_checklist %>
    <%= render AzimuttWeb.PartialsView, "_activity_feed.html", events: @organization_events %>
</div>
