<!DOCTYPE html>
<html lang="en">
<head>
    <%= render("_seo.html", assigns) %>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/elm/dist/styles.css")} />
    <script type="text/javascript" src={Routes.static_path(@conn, "/elm/dist/elm.js")} />
</head>
<body>
    <script>window.host = '<%= Azimutt.config(:host) %>'</script>
    <%= if Azimutt.config(:sentry_frontend_dsn) do %><script>window.sentry_frontend_dsn = '<%= Azimutt.config(:sentry_frontend_dsn) %>'</script><% end %>
    <script type="text/javascript" src={Routes.static_path(@conn, "/elm/script.js")} />
</body>
</html>
