<!DOCTYPE html>
<html lang="en">
<head>
    <%= render("_seo.html", conn: @conn) %>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/elm/dist/styles.css")} />
    <script type="text/javascript" src={Routes.static_path(@conn, "/elm/dist/elm.js")} />
</head>
<body>
    <script type="text/javascript" src={Routes.static_path(@conn, "/elm/script.js")} />
</body>
</html>
