<!DOCTYPE html>
<html lang="en" class="scroll-smooth h-full">
  <%= render("_head.html", assigns) %>
  <body class="h-full font-sans antialiased">
    <!-- Hey! Nice to meet you ❤️-->
    <!-- Did you know Azimutt is an Open Source project written in Elm & Elixir? -->
    <!-- You can find it here: https://github.com/azimuttapp/azimutt -->
    <!-- While you are here, please take the time to give us a ⭐️. It's a great support for us. -->
    <!-- You can also find us on https://twitter.com/azimuttapp or https://www.linkedin.com/company/azimuttapp -->
    <%= @inner_content %>
  </body>
</html>
