<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-root="root_website">
    <%= render "_head.html", conn: @conn %>
    <body class="font-sans antialiased">
        <%= render "_hello_comment.html" %>
        <%= render "_website_navbar.html", conn: @conn, current_user: @current_user, dark: assigns[:dark] %>
        <%= @inner_content %>
        <%= render "_scripts.html", conn: @conn %>
    </body>
</html>
