<!DOCTYPE html>
<html lang="en" data-root="root_elm">
    <head>
        <%= render "_head_seo.html", conn: @conn %>
        <link rel="stylesheet" href={Routes.static_path(@conn, "/elm/dist/styles.css")} />
        <script type="text/javascript" src={Routes.static_path(@conn, "/elm/dist/elm.js")} />
    </head>
    <body>
        <%= render "_hello_comment.html" %>
        <script>window.env = '<%= Azimutt.config(:environment) %>'</script>
        <% org_id = @conn.params["organization_id"] %>
        <% org = org_id && assigns[:current_user] && assigns[:current_user].organizations |> Enum.find(fn o -> o.id == org_id end) %>
        <% plan = org && Azimutt.Organizations.get_organization_plan(org, assigns[:current_user]) |> Azimutt.Utils.Result.or_else(nil) %>
        <% org_gateway = plan && Azimutt.limits().gateway_custom[plan] && org.gateway %>
        <script>window.gateway_url = '<%= org_gateway || Azimutt.config(:gateway_url) %>'</script>
        <%= if Azimutt.config(:sentry_frontend_dsn) do %><script>window.sentry_frontend_dsn = '<%= Azimutt.config(:sentry_frontend_dsn) %>'</script><% end %>
        <script type="text/javascript" src={Routes.static_path(@conn, "/elm/script.js")} />
        <%= render "_scripts.html", conn: @conn, current_user: assigns[:current_user] %>
    </body>
</html>
