<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth" data-root="root_organization_new">
    <%= render "_head.html", conn: @conn %>
    <body class="h-full font-sans antialiased bg-gray-50">
        <%= render "_hello_comment.html" %>
        <div class="min-h-full">
            <%= render "_user_navbar.html", conn: @conn, current_user: @current_user %>
            <%= @inner_content %>
        </div>
    </body>
    <%= render "_scripts.html", current_user: @current_user %>
</html>
