<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth" data-root="root_organization">
    <%= render "_head.html", conn: @conn %>
    <div class="fixed top-0 left-0 w-1/2 h-full bg-white" aria-hidden="true"></div>
    <div class="fixed top-0 right-0 w-1/2 h-full bg-gray-50" aria-hidden="true"></div>
    <body class="h-full font-sans antialiased bg-gray-50">
        <%= render "_hello_comment.html" %>
        <%= render "_instance_message.html" %>
        <%= render "_email_confirm_banner.html", conn: @conn, current_user: @current_user %>
        <div class="relative flex flex-col h-full">
            <%= render "_user_navbar.html", conn: @conn, current_user: @current_user %>

            <div class="flex-grow w-full h-full mx-auto max-w-7xl sm:px-2 xl:px-8 lg:flex">
                <!-- Left sidebar & main wrapper -->
                <div class="flex-1 w-full h-full bg-white flex">
                    <!-- Left panel -->
                    <%= render "_organization_left_bar.html", conn: @conn, current_user: @current_user, organization: @organization, plan: @plan %>
                    <!-- Main content -->
                    <div class="w-full mx-auto">
                        <%= @inner_content %>
                    </div>
                </div>
                <!-- Right panel (activity feed) -->
                <%= if Phoenix.Controller.controller_module(@conn) == AzimuttWeb.OrganizationController && Phoenix.Controller.action_name(@conn) == :show do %>
                    <%= render "_organization_right_bar.html", conn: @conn, current_user: @current_user, organization: @organization, plan: @plan, organization_events: @organization_events %>
                <% end %>
            </div>
        </div>
        <%= render "_scripts.html", conn: @conn, current_user: @current_user %>
    </body>
</html>
