<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth" data-root="root_hfull">
    <%= render "_head.html", conn: @conn %>
    <body class="h-full font-sans antialiased">
        <%= render "_hello_comment.html" %>
        <%= @inner_content %>
        <%= render "_scripts.html" %>
    </body>
</html>
