<!DOCTYPE html>
<html lang="en" class="scroll-smooth h-full" data-root="root_user_settings">
    <%= render "_head.html", conn: @conn %>
    <body class="font-sans antialiased h-full bg-gray-100">
        <%= render "_hello_comment.html" %>
        <%= render "_email_confirm_banner.html", conn: @conn, current_user: @current_user %>
        <div class="relative min-h-full flex flex-col">
            <%= render "_user_navbar.html", conn: @conn, current_user: @current_user %>
            <main class="mx-auto max-w-7xl pb-10 lg:px-8 lg:py-12">
                <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
                    <%= render "_user_settings_left_bar.html", conn: @conn %>
                    <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
                        <%= render "_flash.html", conn: @conn %>
                        <%= @inner_content %>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
