<div class="relative isolate overflow-hidden bg-white px-6 pt-24 lg:px-0 lg:overflow-visible">
    <%= render AzimuttWeb.PartialsView, "_bg_grid.html" %>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <%= render "features/_heading.html", title: @feature.name, description: "If you already tried an ERD, you know. They look cool on screenshots but terrible with real world databases. We made Azimutt to fix this, learn how 👇️" %>
        <%= render "features/_screenshot.html", conn: @conn, feature: @feature, previous: @previous, next: @next %>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:row-span-4 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="prose prose-ul:p-0 max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                    <p>Almost all database visualization tools show all tables and columns in the database. Which is fine for small databases but make them hardly usable with real world databases, like a <span title="ball of yarn">🧶</span>.</p>
                    <p>Azimutt let you display what you want, making it great for complex databases, from 20 to 500 or even 2000 tables.</p>
                    <ul role="list" class="mt-3 space-y-3 text-gray-600">
                        <li class="flex gap-x-3">
                            <Icon.magnifying_glass kind="outline" class="mt-1 flex-none text-indigo-600" />
                            <span>
                                <strong class="font-semibold text-gray-900">Search everywhere</strong>:
                                most of the time, you don't really know where to start.
                                Azimutt let you search in table and column names, SQL comments, relations, notes to find the relevant ones.
                            </span>
                        </li>
                        <li class="flex gap-x-3">
                            <Icon.eye kind="outline" class="mt-1 flex-none text-indigo-600" />
                            <span>
                                <strong class="font-semibold text-gray-900">See what you need</strong>:
                                once you found your starting point, navigate from it and decide which tables and columns to show on your diagram.
                                So it will be perfectly clear, for you, and for others.
                            </span>
                        </li>
                        <li class="flex gap-x-3">
                            <Icon.rectangle_stack kind="outline" class="mt-1 flex-none text-indigo-600" />
                            <span>
                                <strong class="font-semibold text-gray-900">Save as many diagrams as you want</strong>:
                                instead of having one giant diagram for your database, build one for each use case.
                                They will be much clearer and still evolve with your schema updates.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "_footer.html", conn: @conn %>
