<h1>New Organization invitation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_member_path(@conn, :create_invitation, @organization_id)) %>

<span><%= link "Back", to: Routes.organization_member_path(@conn, :index, @organization_id) %></span>
