<div class="max-w-3xl mx-auto lg:mt-12">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Edit Project
    </h3>
    <%= render "form.html", Map.put(assigns, :action, Routes.project_path(@conn, :update, @project)) %>
</div>
