<div class="max-w-lg mt-6 mx-auto">
    <div class="py-5">
        <h3 class="text-xl leading-6 font-medium text-gray-900">Create your project</h3>
    </div>
    <div class="py-5">
        <%= render "form.html", Map.put(assigns, :action, Routes.project_path(@conn, :create)) %>
    </div>
</div>
