<%= render "_error_page.html",
    conn: @conn,
    color: "indigo",
    code: "401",
    title: "Unauthorized",
    message: assigns[:message],
    message_default: "Arg, seems like you're missing a little something 😬"
%>
