<%= render "_error_page.html",
    conn: @conn,
    color: "indigo",
    code: "403",
    title: "Forbidden",
    message: assigns[:message],
    message_default: "Oops, not this time. Try harder later 🤪"
%>
