<%= render "_error_page.html",
    conn: @conn,
    color: "indigo",
    code: "404",
    title: "Page not found",
    message: assigns[:message],
    message_default: "Oh! You found our super secret page. Don't tell anyone 🤫"
%>
