<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <!-- taken from backend/lib/azimutt_web/templates/layout/_seo.html.heex -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <%= live_title_tag assigns[:page_title] || "Azimutt", suffix: " · Database explorer and analyzer" %>
        <meta name="description" content="Next-Gen ERD: explore, analyze, document and design your SQL database schema." />
        <meta name="keywords" content="SQL,schema,database,entity relationship diagram,data analyst,schema explorer,schema analyzer,DDL,DBA,database schema,database diagram,explore,understand,visualization" />
        <meta name="author" content="Loïc Knuchel,Samir Bouaked" />
        <meta name="robots" content="index, follow" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4f46e5" />
        <meta name="apple-mobile-web-app-title" content="Azimutt" />
        <meta name="application-name" content="Azimutt" />
        <meta name="msapplication-TileColor" content="#4f46e5" />
        <meta name="theme-color" content="#4f46e5" />

        <script type="application/ld+json">
            {
                "@@context": "https://schema.org",
                "@@type": "Organization",
                "name": "Azimutt",
                "url": "https://azimutt.app",
                "logo": "https://azimutt.app/images/logo_dark.svg"
            }
        </script>

        <%= csrf_meta_tag() %>

        <%= if Mix.env() == :prod do %>
          <script defer data-domain="azimutt.app" src="https://plausible.io/js/plausible.js"></script>
        <% end %>
        <%= if Mix.env() == :staging do %>
          <script defer data-domain="azimutt.dev" src="https://plausible.io/js/plausible.js"></script>
        <% end %>

        <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
        <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    </head>
    <body class="h-full">
        <div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
            <div class="max-w-max mx-auto">
                <main class="sm:flex">
                    <p class="text-4xl tracking-tight font-bold text-blue-600 sm:text-5xl">404</p>
                    <div class="sm:ml-6">
                        <div class="sm:border-l sm:border-gray-200 sm:pl-6">
                            <h1 class="text-4xl font-bold text-gray-900 tracking-tight sm:text-5xl">Page not found</h1>
                            <p class="mt-1 text-base text-gray-500">Oh! You found our super secret page. Don't tell anyone 🤫</p>
                        </div>
                        <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
                            <a href={Azimutt.config(:site_url)} class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"> Go back home </a>
                            <a href={Azimutt.config(:github_new_issue)} class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"> Contact support </a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
