<%= render "_error_page.html",
    conn: @conn,
    color: "indigo",
    code: "410",
    title: "Deleted",
    message: assigns[:message],
    message_default: "Ah! Looks like you are a bit late! 😵"
%>
