<%= render "_error_page.html",
    conn: @conn,
    color: "red",
    code: "500",
    title: "Server error",
    message: assigns[:message],
    message_default: "Oh! Seems our server is confused 🤔"
%>
