<div>
    <h1>Hello Heroku user!</h1>
    <p>App: <%= @user.app %></p>
    <p>Email: <%= @user.email %></p>
    <dl>
        <dt>heroku_id</dt><dd><%= @resource.heroku_id %></dd>
        <dt>name</dt><dd><%= @resource.name %></dd>
        <dt>plan</dt><dd><%= @resource.plan %></dd>
        <dt>region</dt><dd><%= @resource.region %></dd>
        <dt>options</dt><dd><%= @resource.options %></dd>
        <dt>callback</dt><dd><%= @resource.callback %></dd>
    </dl>
</div>
