Hi! We are <a href="https://twitter.com/sbouaked" target="_blank" rel="noopener" class="text-indigo-600 hover:underline">Samir</a> & <a href="https://twitter.com/loicknuchel" target="_blank" rel="noopener" class="text-indigo-600 hover:underline">Loïc</a>.
We're building a "next-gen" ERD to help understand real world databases, with cool UI and privacy focus. You can read about our journey and what we've learnt along the way on this blog.
